<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265428194604-qc512gilc0b9n2ecmpruba623ib8rolp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265428194604-qc512gilc0b9n2ecmpruba623ib8rolp</string>
	<key>API_KEY</key>
	<string>AIzaSyCZyNB7W4wkeZHd155jBJe3qmgLCoHiNaM</string>
	<key>GCM_SENDER_ID</key>
	<string>265428194604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cakeDeliverySystem</string>
	<key>PROJECT_ID</key>
	<string>cakedeliverysystem</string>
	<key>STORAGE_BUCKET</key>
	<string>cakedeliverysystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265428194604:ios:4d508ca7cd291d79598889</string>
</dict>
</plist>